.modalContainer{

    /* border: 3px solid green !important; */
    
}
.modalHeader{
    width: 700px !important;
    /* border: 3px solid yellow !important; */
    /* display: none; */


}
.modalBody{
    margin-top: 200px !important;
}
.modal-content{
    width: 700px !important;
    height: 900px !important;
    margin-left: -25% !important;
    background-color: whitesmoke !important;
   
}
.ticketForm{
    width: 90% !important;
    margin-bottom: 20%;
    /* border: 3px solid yellow !important; */
    margin: 0%;
    margin-top: -20%;
    /* box-shadow: none; */
}